<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h3>Home</h3>
<form action="" th:action="@{login}" method="post" th:object="${login}">
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td><label>Account:</label></td>
                <td><input th:field="*{account}"  /></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" th:field="*{password}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button>Login</button></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>
